*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	border: 0 none;
	position: relative;
}

html {
	background: #ffffff;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	font-size: 0.8rem;
	color: #1B365D;
	scroll-behavior: smooth;
}

.button {
	background-color: #1B365D;
	color: #ffffff;
	font-weight: 700;
	font-size: 1.5rem;
	border-radius: 35px;
	padding: 10px 25px 10px 25px;
	letter-spacing: 0.5px;
}

.button:hover {
	background-color: #FFC600;
	color: #ffffff;
	font-weight: 700;
	font-size: 1.5rem;
	border-radius: 35px;
	padding: 10px 25px 10px 25px;
	letter-spacing: 0.5px;
}

@media screen and (max-width: 677px) {
	
}

@media screen and (min-width: 678px) {
	body>article {
		display: flex;
		flex-wrap: wrap;
	}

	.logo {
		position: fixed;
		z-index: 100;
		width: 50vw;
		margin: 0 auto auto 50%;
		background-color: #ffffff;
		padding: 40px 30% 25px 4%;
	}

	

	.stepcount {
		width:70px;
		height:70px;
		background-color: #00B2A9;
		color: #ffffff;
		font-size: 40px;
		text-align:center;
		z-index:200;
		margin:25px;
		border-radius: 50px;
		display: table-cell; 
		vertical-align: middle;
	}
	.stepinside {
		display: table;
		margin: 5% 0 0 5%;
	}

	figure {
		background: #FFC600;
		width: 50%;
		height: 100vh;		
		top: 0;
		overflow: hidden;
		
	}

	figure:nth-of-type(2n)::after {
		right: 45%;
		left: 5vmin;
	}

	section {
		background: #ffffff;
		width: 50%;
		height: 100vh;
				
		top: 0;
		overflow: hidden;
		padding: 5vmin;

	}

	figure:nth-of-type(1),
	section:nth-of-type(1) {
		width: 50%;
	}

	figure:last-of-type,
	section:last-of-type {
		margin-bottom: 0;
	}

	section:nth-of-type(2n)::before {
		left: auto;
		right: 0;
		transform: translate(calc(50% - 1px), -50%) rotate(-45deg) scale(-1);
	}

	section:nth-of-type(2n):after {
		right: 5vmin;
		left: 45%;
	}

	section>div {
		display: flex;
		flex-direction: column;
		align-items: left;
		height: 100%;
		padding: 1rem;
	}

	h1 {
		font-size: calc(4.5vmin + 1.25vmax);
	}

	h1,
	h2 {
		margin: 10% 0 5% 0;
		text-align: left;
		font-weight: 700;
		line-height: 1.15;
		word-spacing: .5rem;
	}

	h2 {
		font-size: calc(4.5vmin + 0.25vmax);
		color: #ffffff;
	}

	h1 span {
		color: #FFC600;

	}

	h2 span {
		background-color: #00B2A9;
		padding: 0px 25px;
		border-radius: 2px;
	}



	p {
		text-align: left;
		width: 100%;
		font-family: "Poppins", sans-serif;
		font-weight: 300;
		font-size: calc(1.5vmin + 1vmax);
		line-height: 1.5;
	}

	.p-extra,
	ul li {
		text-align: left;
		width: 100%;
		font-family: "Poppins", sans-serif;
		font-weight: 400;
		font-size: calc(1vmin + 0.75vmax);
		font-style: italic;
	}

	.p-extra {
		margin-top: 10%;
	}

	ul {
		margin-left: 5%;
		margin-top: 2%;
	}


	a {
		color: #FF7F41;

		text-decoration: none;
		font-weight: 900;
		letter-spacing: 2px;
	}

	a:hover,
	a:focus {
		color: #00B2A9;
	}
	#myVideo {
		z-index: 1;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: auto;
		height: 100%;
	}
}

